extends layout

block content
	div(class='pagetitle') #{title}
	div(class='divbox')
		Twoje konto zostało zablokowane. Prosimy o kontakty telefoniczny na numer 555 555 555 lub na adres email info@pizzaonline.pl

block sidecontent
	